<section class="our-staff">
  <div class="container">
    <div class="our-staff-top-info">
      <h2>Meet our <span>staff</span></h2>
      <p>Consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostud est.</p>
    </div>

    <div class="our-staff-members-container">
      <div class="our-staff-members-box">
        <div class="members-box-top">
          <img src="{{ "/assets/img/staff/Lorena-Sahagun.jpg" | relative_url }}" alt="Lorena Sahagun profile picture">
        </div>
        <div class="members-box-bottom">
          <p class="members-name">Lorena Sahagun</p>
          <p class="members-role">CEO | License #0D69443</p>
          <a href="mailto:Lorena@Casablancains.com">Contact me</a>
        </div>
      </div>
      <div class="our-staff-members-box">
        <div class="members-box-top">
          <img src="{{ "/assets/img/staff/Joselin-Reyes.jpg" | relative_url }}" alt="Joselin Reyes profile picture">
        </div>
        <div class="members-box-bottom">
          <p class="members-name">Joselin Reyes</p>
          <p class="members-role">Personal Lines Agent | Lic# 0M34202</p>
          <a href="mailto:Joselin@Casablancainsurance.com">Contact me</a>
        </div>
      </div>
      <div class="our-staff-members-box">
        <div class="members-box-top">
          <img src="{{ "/assets/img/staff/Rolando-Uribe.jpg" | relative_url }}" alt="Rolando Uribe profile picture">
        </div>
        <div class="members-box-bottom">
          <p class="members-name">Rolando Uribe</p>
          <p class="members-role">Underwriter</p>
          <a href="mailto:Rolando@Casablancainsurance.com">Contact me</a>
        </div>
      </div>
      <div class="our-staff-members-box">
        <div class="members-box-top">
          <img src="{{ "/assets/img/staff/Susana-Nava.jpg" | relative_url }}" alt="Susana Nava profile picture">
        </div>
        <div class="members-box-bottom">
          <p class="members-name">Susana Nava</p>
          <p class="members-role">Underwriter</p>
          <a href="mailto:Snava@casablancainsurance.com">Contact me</a>
        </div>
      </div>
    </div>

  </div>
</section>
