<section class="about-top-section">
    <div class="container">
      <div class="about-video-wrapper">
        <div class="ht-video">
          <a href="https://www.youtube.com/watch?v=-w7WLIHU-_c">
            <img class="video-thumb" src="{{ "/assets/img/Youtube-video-thumb.jpg" | relative_url }}" alt="Casablanca Insurance youtbe video thumb">
          </a>
        </div>
      </div>

      <div class="best-options-info-wrapper">
          <h3>We are the most professional insurance company in America right now!!</h3>
          <p>Sorem ipsum dolor sit amet consectetuer adipiscing elit sed dia nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam tation ullamco suscipit lobortis nise.</p>
          <ul>
            <li>Consequat vel illum dolore.</li>
            <li>Honsequat vel illum dolore feugiat.</li>
            <li>Sequat vel illum dolore eu feugiat nulla.</li>
            <li>Consequat vel illum dolore.</li>
            <li>Honsequat vel illum dolore feugiat.</li>
            <li>Sequat vel illum dolore eu feugiat nulla.</li>
          </ul>
      </div>
    </div>
</section>
