<section class="our-mission">
  <div class="container">
    <div class="mission-section-box">
      <p class="box-title">Our Mission</p>
      <p>Lorem ipsum dolor sit amet consectetu adipiscing elit sed diam nonummy nibh euismod tinci  laoreet dolore magna aliquam erat volutpat. Ut wad minim veniam quis nostrud exerci tation ullamco suscipit lobortis nisl ut aliquip ex ea commodo.</p>
    </div>
    <div class="mission-section-box border">
      <img src="{{ "/assets/img/our-mission.jpg" | relative_url }}" alt="Our mission picture - CasaBlanca Insurance">
    </div>
    <div class="mission-section-box">
      <p class="box-title">Our Vision</p>
      <p>Lorem ipsum dolor sit amet consectetu adipiscing elit sed diam nonummy nibh euismod tinci  laoreet dolore magna aliquam erat volutpat. Ut wad minim veniam quis nostrud exerci tation ullamco suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</section>
