<section class="contact-main-info">
  <div class="contact-main-box">

    <div class="contact-main-box-header">
      <p>Opportunity Just Head</p>
      <a class="show-on-large" href="#">info@casablancainsurance.com</a>
      <a href="#">Email us</a>
    </div>

    <div class="contact-main-box-bottom">
      <div class="contact-main-box-info">
        {% include sections/modules/contact-details.html %}
        {% include sections/modules/social-media.html %}
      </div>

      <div class="contact-main-box-form">
        {% include sections/modules/contact-form.html %}
      </div>
    </div>

  </div>
</section>
