<section class="facts-section">
  <div class="container">
    <div class="facts-box-item">
      <p class="facts-number">25</p>
      <p class="facts-info">years experience</p>
    </div>
    <div class="facts-box-item">
      <p class="facts-number">1529</p>
      <p class="facts-info">satisfied customers</p>
    </div>
    <div class="facts-box-item">
      <p class="facts-number">56</p>
      <p class="facts-info">win award</p>
    </div>
    <div class="facts-box-item">
      <p class="facts-number">1250</p>
      <p class="facts-info">Homeowner insurance</p>
    </div>
  </div>
</section>
