<section class="get-in-touch">

  <div class="get-in-touch-left-container">
    <div class="white-box-info">
      <p>Since 2000, we provide best service for our valuable clients.</p>
      <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
  </div>

  <div class="get-in-touch-right-container">
    <div class="form-box-title-section">
      <p>Get In Touch</p>
      <p>For Any Enquiry</p>
    </div>
    <div class="form-box">
      <form class="home-form" action="" method="post" autocomplete="on">
        <input class="home-form-input" type="text" name="fname" placeholder="Your name :" required>
        <input class="home-form-input" type="email" name="email" placeholder="Your email :" required>
        <input class="home-form-input" type="text" name="phone" placeholder="Your phone :" required>
        <input class="home-form-input" type="text" name="subject" placeholder="Subject :" required>
        <textarea class="home-form-input xl-input" rows="8" name="message" placeholder="Your message :" required></textarea>
        <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </div>

</section>
