<section class="hero-section">
    <div class="hero-content-wrapper">
      <div class="hero-main-info">
        <h1>Casablanca Insurance</h1>
        <p>We proudly provide insurance solutions to clients near the San Fernando Valley, Los Angeles Area, The Antelope Valley, Burbank, Lancaster, and Palmdale.</p>
        <a class="transparent-btn" href="about-us.html">Learn More</a>
      </div>
      <div class="three-dots-wrapper">
        <div class="hero-square"></div>
        <div class="hero-square active"></div>
        <div class="hero-square"></div>
      </div>
      <div class="hero-navigation-wrapper">
        <div class="hero-btn-box">
          <span>Prev</span><button class="navigation-btn" type="button" name="prev-button"></button>
        </div>
        <div class="hero-btn-box">
          <span>Next</span><button class="navigation-btn" type="button" name="next-button"></button>
        </div>
      </div>
    </div>
</section>
