<section class="best-options-section">
  <div class="container">
    <div class="best-options-image-wrapper">
        <img src="{{ "/assets/img/profile-image.png" | relative_url }}" alt="CasaBlanca Profile image">
    </div>
    <div class="best-options-info-wrapper">
        <h3>Best insurances for everyone.</h3>
        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam tation ullamco suscipit.</p>
        <ul>
          <li>Consequat vel illum dolore.</li>
          <li>Honsequat vel illum dolore feugiat.</li>
          <li>Sequat vel illum dolore eu feugiat nulla.</li>
          <li>Consequat vel illum dolore.</li>
          <li>Honsequat vel illum dolore feugiat.</li>
          <li>Sequat vel illum dolore eu feugiat nulla.</li>
        </ul>
    </div>
  </div>
</section>
