<section class="home-top">
  <div class="container">
    <div class="home-top-info-wrapper">
      <div class="ht-text-container">
        <p>We are Professional Business Company to Build Your Life Join With Us</p>
        <p>Casablanca Risk Management & Insurance Agency is dedicated to providing quality insurance solutions to clients all over California. We combine our strong insurance background and product knowledge to assist both current and future clients in managing and planning for all types of risk.</p>
      </div>
      <div class="ht-cta-container">
        <a class="transparent-btn" href="about-us.html">Learn More</a>
      </div>
    </div>
    <div class="home-top-video-wrapper">
      <div class="ht-video">
        <a href="https://www.youtube.com/watch?v=-w7WLIHU-_c">
          <img class="video-thumb" src="{{ "/assets/img/Youtube-video-thumb.jpg" | relative_url }}" alt="Casablanca Insurance youtbe video thumb">
        </a>
      </div>
    </div>
  </div>
</section>
