<section class="home-services">
  <div class="container">

    <div class="home-services-top-info">
      <h2>Our insurance <span>product</span></h2>
      <p>Over 3000 people trust Casablanca Risk Management & Insurance Agency to insure something they love such as their car, boat, house, motorcycle, etc.</p>
    </div>

    <div class="home-services-main-info">
      <h3>We provide best service</h3>

      <div class="home-services-product-wrapper">
        <div class="home-services-card">
          <div class="service-card-wrapper">
            <div class="service-box-info-section">
              <p class="service-box-title">Auto Insurance</p>
              <p class="service-box-hover">The best coverage for your car.</p>
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="home-services-card">
          <div class="service-card-wrapper">
            <div class="service-box-info-section">
              <p class="service-box-title">Home Insurance</p>
              <p class="service-box-hover">The best coverage for your home.</p>
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="home-services-card">
          <div class="service-card-wrapper">
            <div class="service-box-info-section">
              <p class="service-box-title">Life Insurance</p>
              <p class="service-box-hover">The best coverage for your family.</p>
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="home-services-card">
          <div class="service-card-wrapper">
            <div class="service-box-info-section">
              <p class="service-box-title">Business Insurance</p>
              <p class="service-box-hover">The best coverage for your business.</p>
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="home-services-card">
          <div class="service-card-wrapper">
            <div class="service-box-info-section">
              <p class="service-box-title">Other Personal Insurance</p>
              <p class="service-box-hover">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="home-services-card">
          <div class="service-card-wrapper">
            <div class="service-box-info-section">
              <p class="service-box-title">Recreational Vehicle Insurance</p>
              <p class="service-box-hover">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
