<section class="home-services">
  <div class="container">

    <div class="home-services-top-info">
      <h2>Our insurance <span>product</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
    </div>

    <div class="home-services-main-info">
      <div class="home-services-select-product">
        <p>We provide</p>
        <p>Best Service</p>
        <ul id="homeServiceList" class="service-list">
          <li class="active"><a href="#autoIns"></a>Auto Insurance</li>
          <li><a href="#homeIns"></a>Home Insurance</li>
          <li><a href="#lifeIns"></a>Life insurance</li>
          <li><a href="#busIns"></a>Business Insurance</li>
          <li><a href="#persIns"></a>Personal Insurance</li>
          <li><a href="#recretIns"></a>Recreational Vehicle Insurance</li>
        </ul>
      </div>
      <div class="home-services-product-details">
        <img src="{{ "/assets/img/Casablanca-life-insurance.jpg" | relative_url }}" alt="CasaBlanca Insurance - Life insurance picture">
        <p>Placerat facer possim assum. Typi non habent claritatem insitam est legentis in iis qui facit eorum claritatem.</p>
      </div>
      <div class="home-services-bullet-points">
        <div class="ins-bullet-list active" id="autoIns">
          <ul>
            <li>Liability Coverage</li>
            <li>Comprehensive Coverage</li>
            <li>Collision Coverage</li>
            <li>Uninsured & Underinsured Motorist Coverage</li>
            <li>Diminishing Deductible</li>
            <li>Accident Forgiveness</li>
            <li>Minor Violation Forgiveness</li>
            <li>Roadside Assistance</li>
            <li>Specialty Auto Insurance</li>
            <li>24-Hour Customer Service</li>
            <li>Towing</li>
            <li>Rental Reimbursement</li>
            <li>Personal Injury Protection (PIP)</li>
            <li>Medical Payments Coverage</li>
          </ul>
        </div>
        <div class="ins-bullet-list" id="homeIns">
          <ul>
            <li>Property Insurance</li>
            <li>Homeowners Liability</li>
            <li>Renters Insurance</li>
            <li>Condo Insurance</li>
            <li>Mobile Home Insurance</li>
            <li>Scheduled Property Insurance</li>
            <li>Landlords Insurance</li>
            <li>In-Home Business Insurance</li>
          </ul>
        </div>
        <div class="ins-bullet-list" id="lifeIns">
          <ul>
            <li>Individual Life Insurance</li>
            <li>Group Life Insurance</li>
            <li>Long-Term Care Insurance</li>
            <li>Mortgage Protection Insurance</li>
            <li>Disability Insurance</li>
            <li>Second-To-Die Policy</li>
            <li>Key Person (Key Men) Insurance</li>
          </ul>
        </div>
        <div class="ins-bullet-list" id="busIns">
          <ul>
            <li>Commercial property insurance</li>
            <li>Commercial general liability</li>
            <li>Business owners policy (BOP)</li>
            <li>Inland marine insurance</li>
            <li>Commercial auto insurance</li>
            <li>Commercial umbrella insurance</li>
            <li>Professional liability</li>
            <li>Workers compensation</li>
            <li>Crime insurance</li>
          </ul>
        </div>
        <div class="ins-bullet-list" id="persIns">
          <ul>
            <li>Identity Theft</li>
            <li>Personal Umbrella Insurance</li>
            <li>Data Backup</li>
          </ul>
        </div>
        <div class="ins-bullet-list" id="recretIns">
          <ul>
            <li>Boat Insurance</li>
            <li>Motorcycle Insurance</li>
            <li>Motorhome Insurance</li>
            <li>ATV Insurance</li>
            <li>Snowmobile Insurance</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
