<section class="testimonials-section">
  <div class="container">
    <div class="testimonials-messages-area">

      <div class="testimonials-message-box is-active">
        <div class="testimonials-box-top">
          <p>Susan T, Client</p>
          <div class="star-ratings">
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
          </div>
        </div>
        <div class="testimonials-box-bottom">
          <p>"They have strong ties with the community, and it shows. It's nice to do business with people that really show they care about you and your family."</p>
        </div>
      </div>

      <div class="testimonials-message-box">
        <div class="testimonials-box-top">
          <p>Michelle D, Client</p>
          <div class="star-ratings">
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
          </div>
        </div>
        <div class="testimonials-box-bottom">
          <p>"I feel lucky to have found an agent willing to provide this level of service. No need to look anywhere else!"</p>
        </div>
      </div>

      <div class="testimonials-messages-arrows">
        <button class="arrow-left" type="button" name="button"></button>
      </div>

      <div class="testimonials-messages-arrows">
        <button class="arrow-right" type="button" name="button"></button>
      </div>

    </div>

    <div class="testimonials-cta-area">
      <h3>Home & Auto Insurance</h3>
      <p>Combining your home and auto policies can benefit you with discounts that help you save and additional coverage options to make your life easier.</p>
      <a class="transparent-btn" href="contact.html">Contact us</a>
    </div>
  </div>

</section>
