<footer role="contentinfo">
  <div class="footer-top-section">
    <div class="footer-top-box">
        <p class="footer-title-top-box">About Us</p>
        <p>When you work with Casablanca Risk Management & Insurance Agency, you'll experience the exceptional service and attention to detail that you can only find with an independent insurance agency.</p>
    </div>
    <div class="footer-top-box">
      <p class="footer-title-top-box">Useful Links</p>
      <nav class="footer-nav-container" role="navigation">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="/">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-square-menu-icon"></use>
              </svg>
              Home
            </a>
          </li>
          <li class="footer-nav-item">
            <a href="about-us.html">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-square-menu-icon"></use>
              </svg>
              About us
            </a>
          </li>
          <li class="footer-nav-item">
            <a href="#">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-square-menu-icon"></use>
              </svg>
              Products
            </a>
          </li>
          <li class="footer-nav-item">
            <a href="#">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-square-menu-icon"></use>
              </svg>
              Our Providers
            </a>
          </li>
          <li class="footer-nav-item">
            <a href="contact.html">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-square-menu-icon"></use>
              </svg>
              Contact us
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-top-box">
      <p class="footer-title-top-box">Contact info</p>
      <div class="footer-contact-info">
        <ul>
          <li>
            <a href="https://goo.gl/maps/8iok8V1GFZp">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-location-icon"></use>
              </svg>
              <span>313 S. Brand Blvd.,<br>San Fernando, CA 91340</span>
            </a>
          </li>
          <li>
            <a href="tel:+18188386655">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-phone-icon"></use>
              </svg>
              +1 818-838-6655
            </a>
          </li>
          <li>
            <a href="mailto:lorena@casablancainsurance.com">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-email-icon"></use>
              </svg>
              lorena@casablancainsurance.com
            </a>
          </li>
          <li>
            <a href="https://goo.gl/maps/8iok8V1GFZp">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-clock-icon"></use>
              </svg>
              Monday - Friday: 9:00 AM to 6:00 PM
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright-section">

    <div class="copyright-wrapper">
      <p class="copyright">&copy; {{ site.time | date: '%Y' }} Casablanca Insurance. All rights reserved | Designed by <a href="http://ag-webdesign.com/">AG Web Design</a></p>
      <p class="copyright-xs">&copy; {{ site.time | date: '%Y' }} Casablanca Insurance. All rights reserved</p>
      <p class="copyright-xs">Designed by <a href="http://ag-webdesign.com/">AG Web Design</a></p>
    </div>

    <div class="social-media-links-wrapper">
      <div class="footer-logo">
        <a href="#">
          <img src="{{ "/assets/img/logo/CasaBlanca-Insurance-logo.svg" | relative_url }}" alt="Casablanca Insurance logo">
        </a>
      </div>

      <div class="footer-social-media">
        <ul>
          <li>
            <a href="#">
              <svg class="icon no-bg" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#facebook-icon"></use>
              </svg>
              <span class="access-label">Facebook</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#twitter-icon"></use>
              </svg>
              <span class="access-label">Twitter</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#youtube-icon"></use>
              </svg>
              <span class="access-label">YouTube</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#google-plus-icon"></use>
              </svg>
              <span class="access-label">Google+</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
