<header role="banner">
  <section class="header-full-container">

    <div class="header-top-section">
      <div class="container">

        <div class="logo-wrapper">
          <a href="/">
            <img src="{{ "/assets/img/logo/CasaBlanca-Insurance-logo.svg" | relative_url }}" alt="Casablanca Insurance logo">
          </a>
        </div>

        <div class="header-top-info-details">
          <div class="header-top-info-box">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#phone-call-icon"></use>
            </svg>
            <div class="header-top-info-box-content">
              <p>Any needs</p>
              <a href="tel:+1 (818) 838-6655">+1 (818) 838-6655</a>
            </div>
          </div>
          <div class="header-top-info-box">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#location-icon"></use>
            </svg>
            <div class="header-top-info-box-content">
              <p>Location</p>
              <a href="https://goo.gl/maps/GdrH5QqQVtj"><span>313 S. Brand Blvd<br>San Fernando, CA 91340</span></a>
            </div>
          </div>
          <div class="header-top-info-box">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#email-us-icon"></use>
            </svg>
            <div class="header-top-info-box-content">
              <p>Email Us</p>
              <a href="emailto:info@casablancainsurance.com">info@casablancainsurance.com</a>
            </div>
          </div>
          <div class="header-top-info-box just-icon">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#email-us-icon"></use>
            </svg>
            <a href="emailto:info@casablancainsurance.com">Email Us</a>
          </div>
        </div>

      </div>
    </div>

    <div class="header-nav-section">
      <nav class="container" role="navigation">
        <!-- Navigation Menu Large Screens -->
        <ul class="main-nav">
          <li class="main-nav-option">
            <a href="/">Home</a>
          </li>
          <li class="main-nav-option">
            <a href="about-us.html">About us</a>
          </li>
          <li class="main-nav-option">
            <a href="#">Products</a>
          </li>
          <li class="main-nav-option">
            <a href="#">Our Providers</a>
          </li>
          <li class="main-nav-option">
            <a href="contact.html">Contact us</a>
          </li>
        </ul>
        <!-- End Navigation Menu Large Screens -->
        <a class="primary-btn" href="quote.html">Get a Quote</a>
      </nav>

      <div class="mobile-container">
        <!-- Hamburger button -->
        <div class="mobile-nav-toggle">
          <div class="mobile-burger" id="burger">
            <div class="bar top-bar"></div>
            <div class="bar bottom-bar"></div>
          </div>
        </div>
        <!-- End Hamburger button -->

        <!-- Logo button for small screens -->
        <div class="mobile-logo-wrapper">
          <a href="/">
            <img src="{{ "/assets/img/logo/Casablanca-Insurance-logo-mobile.svg" | relative_url }}" alt="Casablanca Insurance logo">
          </a>
        </div>
        <!-- End Logo button for small screens -->

        <div class="help-nav-toggle">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#contact-icon"></use>
          </svg>
        </div>

        <div class="mobile-menu-wrapper">
          <!-- Navigation Menu Mobiles & Tablets Screens -->
          <ul class="mobile-nav">
            <li class="mobile-main-nav-item">
              <a href="/">Home</a>
            </li>
            <li class="mobile-main-nav-item">
              <a href="about-us.html">About us</a>
            </li>
            <li class="mobile-main-nav-item">
              <a href="#">Products</a>
            </li>
            <li class="mobile-main-nav-item">
              <a href="#">Our Providers</a>
            </li>
            <li class="mobile-main-nav-item">
              <a href="contact.html">Contact us</a>
            </li>
          </ul>
          <!-- End Navigation Menu Mobiles & Tablets Screens -->
        </div>
      </div>

      <!-- Contact pop up menu -->
      <div class="mobile-contact-menu-wrapper">
        <ul class="contact-mobile-nav">
          <li class="contact-mobile-nav-item">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#phone-call-icon"></use>
            </svg>
            <a href="tel:+1 (818) 838-6655">+1 (818) 838-6655</a>
          </li>
          <li class="contact-mobile-nav-item">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#location-icon"></use>
            </svg>
            <a href="https://goo.gl/maps/GdrH5QqQVtj"><span>313 S. Brand Blvd<br>San Fernando, CA 91340</span></a>
          </li>
          <li class="contact-mobile-nav-item">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#email-us-icon"></use>
            </svg>
            <a href="emailto:info@casablancainsurance.com">info@casablancainsurance.com</a>
          </li>
        </ul>
        <!-- End Contact pop up menu -->
      </div>

    </div>

  </section>
</header>
