<div class="contact-details-container">
  <p class="contact-heading-title">Contact info</p>
  <div class="contact-info-wrapper">
    <ul>
      <li>
        <a href="https://goo.gl/maps/8iok8V1GFZp">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-location-icon"></use>
          </svg>
          <span>313 S. Brand Blvd.,<br>San Fernando, CA 91340</span>
        </a>
      </li>
      <li>
        <a href="tel:+18188386655">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-phone-icon"></use>
          </svg>
          +1 818-838-6655
        </a>
      </li>
      <li>
        <a href="mailto:lorena@casablancainsurance.com">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-email-icon"></use>
          </svg>
          lorena@casablancainsurance.com
        </a>
      </li>
      <li>
        <a href="https://goo.gl/maps/8iok8V1GFZp">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#footer-clock-icon"></use>
          </svg>
          Monday - Friday: 9:00 AM to 6:00 PM
        </a>
      </li>
    </ul>
  </div>
</div>
