<div class="social-media-wrapper">
  <ul>
    <li>
      <a href="#">
        <svg class="icon no-bg" aria-hidden="true" focusable="false">
          <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#facebook-icon"></use>
        </svg>
        <span class="access-label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#twitter-icon"></use>
        </svg>
        <span class="access-label">Twitter</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#youtube-icon"></use>
        </svg>
        <span class="access-label">YouTube</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ "/assets/img/sprite/icons.svg" | relative_url }}#google-plus-icon"></use>
        </svg>
        <span class="access-label">Google+</span>
      </a>
    </li>
  </ul>
</div>
